*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

/* Navigation Bar */
.navbar {
  background: #111111;
  font-weight: bold;
  height: 100px;
}

.navbar-brand {
  margin-left: 20px;
}

.logo-text {
  font-size: 30px;
  color: #fff;
  margin-left: 20px;
}

/* Container */
.main-container {
  display: block;
  background: url(/img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0 1px 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.agent-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 1rem;
}

.agent-desc {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0 20px;

}

#agent-name {
  display: block;
  font-size: 5em;
  font-weight: 600;
  margin: 10px 0;
  text-align: start;
  
}

#agent-role {
  font-size: 1em;
  font-weight: 400;
  margin: 10px 0;
}

#agent-bio {
  font-size: 1em;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Number of lines to display */
  overflow: hidden;
  text-overflow: ellipsis;
}

.role-title {
  font-size: 1em;
  font-weight: 600;
  margin: 10px 0;
}

.bio-title {
  font-size: 1em;
  font-weight: 600;
  margin: 10px 0;
}

.img-fluid {
  height: 500px;
}

#pick {
  height: 50px;
  width: 200px;
}

select {
  margin-top: 10px;
  width: 200px;
  height: 30px;
}

/* Footer */
footer {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1;
  padding: 100px 0 0;
  text-align: center;
}

footer a {
  display: inline-block;
  margin: 0 5px;
}

footer p {
  font-size: 16px;
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #1E2432;
}

::-webkit-scrollbar-thumb {
  background: #E03150;
}

::-webkit-scrollbar-thumb:hover {
  background: #DF3045;
}

@media screen and (max-width: 1080px) {
  .agent-container {
    display: block; /* Change to block on small screens */
  }
  #agent-name {
    font-size: 3em;
  }
  #agent-img {
    height: 300px;
  }
}
